/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
  font-family: 'LaPointes';
  src: url('./LaPointesRoad.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('./MedievalSharp-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* LEGACY SETTINGS */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6b2737;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'LaPointes';
  font-size: 3.7em;
  line-height: 1.1;
}

button {
  font-family: 'Playfair';
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 30px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  color: #646cff;
}
button:focus,
button:focus-visible {
  border: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* TOP OF THE LANDING */

.headerBlock {
  margin-top: 300px;
}

.headerSubtitle {
  margin-top: 50px;
  font-family: 'LaPointes';
  font-size: 1.5em;
  line-height: 1.1;
  color: lightpink;
}

/* BLOCK WITH BUTTONS */

.navBlock {
  margin-top: 200%;
}

.navButtons {
  margin: 50px;
  margin-bottom: 200px;
}

.navButtons button {
  font-family: 'Playfair';
}

/* THE GAME */

.sectionContent {
  display: grid;
  grid-template-columns: 500px 5fr;
  grid-template-rows: 1fr;
  gap: 30px;
}

.sectionImage img {
  width: 100%;
  height: auto;
}

.sectionText {
  padding: 20px;
  font-family: 'Playfair';
}

.sectionText h3 {
  color: #e8985e;
}

.sectionText h4 {
  color: #a0eade;
}

.sectionText ul {
  text-align: left;
}

li + li {
  margin-top: 10px; /* Adjust the value as needed */
}

.highlight {
  color: #fe64a3;
}

.returnButton {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.returnButton button {
  font-family: 'Playfair';
}

/* NEW BUTTONS SECTION */

.hiddenButton1 {
  transition: transform 0.5s ease-in 0.2s;
  transition: opacity 0.5s ease-in 0.3s;
  transform: translateY(-250%) translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.hiddenButton2 {
  transition: transform 0.5s ease-in 0.2s;
  transition: opacity 0.5s ease-in 0.2s;
  transform: translateY(-250%);
  opacity: 0;
  visibility: hidden;
}

.hiddenButton3 {
  transition: transform 0.5s ease-in 0.2s;
  transition: opacity 0.5s ease-in 0.2s;
  transform: translateY(-250%) translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

/* UNLOCK BUTTON */

.unlockButton {
  font-size: 120%;
  animation: unlockColors 1s ease 0.5s infinite alternate;
  transition: opacity 1s ease-out 0.1s;
}

@keyframes unlockColors {
  from {
    background-color: #646cff;
  }
  to {
    background-color: #213547;
  }
}

/* MODAL */

.modalContainer {
  position: fixed;
  top: 50%; /* Adjust this value to position the box vertically */
  left: 50%; /* Adjust this value to position the box horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the box by half of its own dimensions */
  background-color: black; /* Set the background color of the box */
  border: 2px solid #e8985e; /* Add a border to the box */
  padding: 10px; /* Add padding inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for better visibility */
}

.modal button {
  margin: 0;
  padding: 2px 8px;
}

.modalContent_container h2 {
  font-family: 'LaPointes';
  color: #e8985e;
}

.modalContent_container {
  font-family: 'Playfair';
  color: #e8985e;
}

.modalContent_rowContainer {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: 800px;
  gap: 10px;
}

.modalContent_row {
  display: grid;
  grid-template-columns: 1fr 2fr 7fr 10fr;
  grid-template-columns: 1;
  gap: 5px;
}

.box {
  border: 2px solid #e8985e;
  border-radius: 5px;
  background-color: #213547;
}

.closeButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* INDEX: RESPONSIVE */

@media (max-width: 860px) {
  .navButtons {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 100px;
  }

  .navBlock button {
    padding: 30px;
    font-size: 200%;
  }
}

@media (max-width: 660px) {
  .headerBlock,
  .navTitle {
    font-size: 75%;
  }
}

@media (max-width: 500px) {
  .headerBlock h1,
  .navTitle h1 {
    line-height: 2em;
  }
}

/* CONTENT: RESPONSIVE */

@media (max-width: 900px) {
  .sectionContent {
    display: grid;
    grid-template-columns: 350px 5fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .sectionContent {
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }

  .sectionText {
    padding: 7px;
  }

  .hiddenButtons {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .sectionContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    gap: 30px;
  }

  .sectionImage img {
    width: auto;
    height: 100%;
  }
}

/* MODALS - RESPONSIVE */
@media (max-width: 850px) {
  .modalContainer {
    height: 90vh;
    overflow: scroll;
    font-size: 180%;
  }
  .modalContent_rowContainer {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 90vw;
    gap: 10px;
  }
}
