@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  overflow-x: hidden;
}

@font-face {
  font-family: 'LaPointes';
  src: url('./LaPointesRoad.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('./MedievalSharp-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.navbar img {
  height: 30px;
}

.progressButton {
  color: #ffbf00;
}

.highlight {
  color: #fe64a3;
}

h4 {
  font-size: 150%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffbf00;
}
